# Ignore the build and lib dirs
build/*

# Ignore any executables
bin/*

#Ignore any pyc from imports
scripts/*.bak
scripts/*.pyc
scripts/*.so

scripts/*.pdf

# Ignore Mac specific files
.DS_Store

\#*\#
.\#*
*txt
